body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* --navbar--*/
.navbar-header {
    color: white !important;
}
.navbar-nav li a {
    color: white !important;
    font-weight: 600;
    text-align: left;
    transition: .4s;
}

.navbar-dark .navbar-nav .nav-link.active {
    text-shadow: 0 0 10px white, 0 0 20px white;
}

.navbar-nav li a:hover, .navbar-nav li a:active {
    text-shadow: 0 0 10px white, 0 0 20px white;
}

/* --home page-- */
.jumbotron {
    text-align: center;
}
.jumbotron img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.jumbotron p {
    padding-top: 2rem;
}

/* -- UserAlbum Panels -- */
.icon {
    width: 50%;
}
