
@{
    ViewBag.Title = "Listened";
}

<h2>Listened</h2>

@model bool

<span>
    <i class="glyphicon @(Model ? "glyphicon-ok-sign" : "glyphicon-play-circle")"
       data-toggle="listen"
       data-id="@ViewBag.Id"
       style="font-size:5rem;">
    </i>
</span>