@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Insert demo/how to/description here</p>

<h4>-Image credits-</h4>
    Home page image: Nihal Demirci. Check her work out
<p><a class="btn btn-default" href="https://unsplash.com/nihaldemirci">Here</a></p>