@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />


<div class="jumbotron">
    <h1>Discography Tracker</h1>
    <img src="~/Content/defaultassets/home_page.jpg" class="img-rounded">
    <p> 
    @Html.ActionLink("Start a Crate", "Register", "Account", null, new { @class = "btn btn-primary btn-large" }) |
    @Html.ActionLink("View your Crate", "Index", "Crate", null, new { @class = "btn btn-primary btn-large" }) |
    @Html.ActionLink("View Artist Bank", "Index", "Artist", null, new { @class = "btn btn-primary btn-large" }) 
    </p>
</div>

