@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Discograpy Tracker</h1>
    <p class="lead">Track an artists discography. Useful for hearing progression of their sound from their first project to now. Other nice buzzword here I am not a content creator.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">How to/demo &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Artists</h2>
        <p>
            Check out existing artists on DiscographyTracker or enter a new artist and their discog
        </p>
        <p> @Html.ActionLink("Artists", "Index", "Artist", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
    <div class="col-md-4">
        <h2>Albums</h2>
        <p>Browse existing albums</p>
        <p> @Html.ActionLink("Albums", "Index", "Album", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
    <div class="col-md-4">
        <h2>Songs</h2>
        <p>This is all going to change</p>
        <p> @Html.ActionLink("Songs", "Index", "Song", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
</div>